executor="slurm"
walltime="01:00:00"
memory="4"
//queue="prod_short"
queue="prod_med"
//mem_param="mem"
procs="1"

modules="samtools/1.11 star/2.7.5b subread/1.5.2"
//useLegacyTorqueJobPolling=true	// Req for 0.9.9.9

commands {

    tiny {
        walltime="01:00:00"
	      memory="4"
    }

    small {
        walltime="02:00:00"
        memory="8"
    }

    medium {
        walltime="05:00:00"
        memory="12"
    }

    large {
	      walltime="12:00:00"
        memory="50"
    }

    trimmomatic {
	       walltime="02:00:00"
         memory="4"
	       procs=8
    }

    count {
        walltime="04:00:00"
        memory="16"
	      procs=8
    }
 
    count_exons {
        walltime="02:00:00"
        memory="4"
              procs=1
    }
	
    srtindex {
        walltime="02:00:00"
        memory="16"
        procs=8
    }

    star1pass {
	      walltime="24:00:00"
        memory="50"
        procs=8
    }

    star2pass {
	      walltime="72:00:00"
        memory="64"
        procs=8
    }

    multiqc {
        walltime="01:00:00"
    }

    sortmerna {
        walltime="12:00:00"
        memory="4"
        procs=8
    }

    salmon {
         walltime="05:00:00"
         memory="32"
	       procs=8
    }
}
